.container {
  max-width: 1280px;
}

.row {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-vertical-space {
  height: 23px;
}

.empty-horizontal-space {
  width: 23px;
}

.hide-while-loading.hide {
  display: none;
}

.hide-while-loading.show {
  display: block;
}